* {
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
    min-height: 0;
}

window#waybar {
    background: black;
    font-family: "Lilex";
    font-size: 12px;
}

#workspaces {
    border: 1.5px solid #222F3F;
}

#workspaces button {
    background: transparent;
    border-radius: 0px;
    color: gray;
    padding: 3px
}

#workspaces button.active {
    color: white;
    border: 1.5px solid #222F3F;
    font-weight: bold;
}

#workspaces button:hover {
    border: none;
    outline: none;
    box-shadow: none;
}

#clock,
#wireplumber,
#disk,
#memory,
#battery,
#cpu,
#network {
    border: 1.5px solid #222F3F;
    padding: 1px 5px;
    color: #E3E3E3;
}
